:root{ 
  --main: #e85f2b;  
  --peach-dark:#DA6551;  
  --peach-light: #E78A6B;  
  --gold-dark: #D8BC57;  
  --gold-light: #FEEDD5; 
}
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1441px;
  }
}
body{
  font-family: 'Inter', sans-serif;  
}     
header .top{
  background-color: var(--main);
  height: 40px; 
} 
header .top .mm{ 
  display: flex;
  justify-content: space-between;
  align-items: center; 
}  
header .top .mm a{ 
  color: #fff;
  padding-right: 20px;
  position: relative; 
  font-size: 16px;
  font-weight: 500;
  transition: .33s all ease-in;  
} 
header .top .mm a:hover{ 
  color: var(--gold-light);
} 
header .top .mm a span{ 
  color: #fff;
  padding-left: 10px;
  position: relative;
  top: 7px;
  font-size: 24px;
}
header .top .mm a i {
  font-style: normal;
}
header .navbar{
  background-color: #000;
  height: 135px;
}
header .navbar .img-responsive{ 
  height: 108px;
  width: 108px;
}
.ss-top a img{
  width: 24px;
  height: 24px;
  margin-top: 8px;
}
.navbar .navbar-nav .nav-item{ 
  margin-left: 12px;
  margin-right: 12px;
}
.navbar .navbar-nav .nav-item a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: .33s all ease-out;  
}
.navbar .navbar-nav .nav-item.active a{
  color: var(--main); 
}
.navbar .navbar-nav .nav-item:hover a{
  color: var(--main); 
}
.navbar .navbar-nav .nav-item:hover a{
  color: var(--main); 
}
.nav-flag{
  margin-right: 5px !important;
}
.nav-flag img{
  width: 42px;
  height: 28px;
  margin-top: 5px;
}
.bn1{
  height: 680px;
  background: url(../images/banner.jpg);
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 100% auto !important;
  position: relative;
}
.bn1::after{
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 680px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
} 
.flex-bb{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 680px;
  z-index: 4;
  position: relative;
  text-align: center;
} 
.flex-bb h1{
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 80px;
  font-family: 'Newsreader', sans-serif;
  font-weight: 300;  
}
.flex-bb h3{
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: 'Newsreader', sans-serif;
  font-weight: 300;  
} 
.flex-bb h2{
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: 'Newsreader', sans-serif;
  font-weight: 300;  
} 
.flex-bb .btn{ 
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  padding: 20px 110px;
  background-color: var(--main);
  transition: .33s all ease-out;  
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}  
.flex-bb .btn:hover{  
  color: #fff; 
  background-color: var(--peach-dark);
  border: 0px;
} 
.section2{
  background-color: #000;
} 
.section2 .why{
  background-color: #000;
  padding: 50px 80px;
} 
.section2 .why h2{
  margin-bottom: 20px; 
  color: var(--main);
  font-size: 48px;
  font-weight: 500;
}  
.section2 .why h5{ 
  position: relative;
  margin-top: 15px;
  padding-left: 40px;
  color: #fff;
}  
.section2 .why h5 span{ 
  position: absolute;
  left: 0;
  font-size: 28px;
  color: var(--main);
} 
.section2 .btn{ 
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  padding: 20px 50px;
  background-color: var(--main);
  transition: .33s all ease-out;  
  border-radius: 5px;
}  
.section2 .btn:hover{  
  color: #fff; 
  background-color: var(--peach-dark);
  border: 0px;
} 
.section2 .mm{
  height: 556px; 
  width: 100%;
  object-fit: cover;
} 
.section2 .bg{
  height: 170px; 
  background-color: var(--main);
  padding: 35px;
}
.section2 .bg .btn{
  margin-top: 30px;
  color: var(--main);
  font-size: 24px;
  padding: 10px 60px;
  background-color: #fff;
  transition: .33s all ease-out;  
  border-radius: 5px; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
}
.section2 .bg h3{
  color: var(--White, #FFF);
  font-family: Inter;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}
.section3{
  background-color: #000; 
}
.section3 .bg{ 
  background: url(../images/bg.png);
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 100% auto !important; 
  padding-top: 55px;
  padding-bottom: 100px; 
}
.section3 .row-pad{
  padding-left: 80px;
  padding-right: 80px;
}
.section3 h1{
  margin-bottom: 50px; 
  color: #FFF;
  text-align: center; 
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
}
.section3 .car-box{
  height: 500px;
  background-color: #000;
  background-size: 100% auto !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: .33s all ease-out;  
} 
.section3 .car-box img{
  display: block;
  margin: auto;
  max-width: 100%;
  height: 250px;
  transition: .33s all ease-out;  
}
.section3 .car-box:hover img{ 
  transform: scale(1.04);
}
.section3 .car-box h4{ 
  color: #fff;
  text-align: center; 
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
} 
.section3 .car-box h5{
  color: #FFF; 
  font-size: 36px;
  text-align: center; 
  font-style: normal;
  font-weight: 500;
  line-height: 140%;  
}
.row-pad{
  padding-left: 80px;
  padding-right: 80px;
} 
.section4{
  background: url(../images/sec4.png);
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 100% auto  !important;  
  padding-top: 150px;
  padding-bottom: 150px;
} 
.section4 h3{
  color:#FFF;  
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
} 
.section4 h3{
  color:#FFF;  
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
}
.section4 ul li{
  color:#FFF;   
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 57.6px */
}
.section5{
  background-color: #F1DF9E;
}
.section5 .bg{  
  padding: 100px 80px; 
}
.section5 p{
  color:#46443D; 
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 50px;
}
.section6{
  background-color: #DA6551;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section6 h1{
  color: #F8CE4E;
  text-align: center;  
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 65px;
}
.section6 .box{
  border-radius: 40px;
  background: linear-gradient(147deg, #F8CC42 4.72%, rgba(255, 226, 151, 0.90) 49.13%, rgba(255, 212, 76, 0.80) 96.38%);
  height: 359px;
  padding: 40px 30px;
  position: relative;
}
.section6 .box img{
  max-height: 200px;
}
.section6 .box h5{
  color: #EF5E45;
  text-align: center;  
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
footer{
  background-color: #F1DF9E;
  padding-top: 30px;
  padding-bottom: 100px;
}
footer .logo{
  width: 141px;
  margin-bottom: 15px;
}
footer h4{
  color: #635329;  
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}
footer h5{
  color: #635329; 
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;  
} 
footer a{
  color: #635329;  
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  transition: .33s all ease-out;  
  margin-bottom: 15px;
  display: block;
}
footer a img{ 
  margin-right: 13px;
  width: 30px;
  height: 30px;
}
footer a:hover{
  color: var(--main);   
}







/*

transition: .33s all ease-out;  
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }    
  header .top .mm a i {
    display: none;
  }
  header .top .mm a { 
    padding-right: 5px;  
  }
  header .top .mm a span{  
    font-size: 20px; 
  }
  .ss-top a img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
  header .navbar .img-responsive {
    height: 75px;
    width: 75px;
  }
  header .navbar {
    background-color: #000;
    height: 100px;
  }
  .navbar-toggler-icon {
    background-color: #fff;
  }
  .navbar-toggler span{
    color: #fff;
    font-size: 42px !important;
  }
  .navbar-collapse.collapse.show{
    background-color: #000;
    z-index: 10;
  }
  .navbar .navbar-nav .nav-item {
    margin-left: 30px;
  }
  .bn1 {
    height: 480px; 
    background-size: auto 100%  !important; 
  }
  .flex-bb { 
    height: 480px; 
  }
  .flex-bb h1 { 
    font-size: 55px; 
    margin-bottom: 30px; 
  }
  .flex-bb h3 { 
    font-size: 36px; 
    margin-bottom: 15px; 
  }
  .flex-bb h2 { 
    font-size: 46px; 
    margin-bottom: 15px; 
  }
  .section2 .why { 
    padding: 30px 30px;
  }
  .bn1::after { 
    height: 480px; 
  }
  .section2 .why h2 { 
    font-size: 40px; 
    text-align: center;
  }
  .section2 .btn {
    margin-top: 20px; 
    padding: 15px 50px; 
    display: block;
  }
  .section2 .mm {
    height: 233px; 
  }
  .section3 .bg { 
    background-size: auto 100% !important;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section3 h1 {
    margin-bottom: 30px; 
    font-size: 46px; 
  }
  .section3 .row-pad {
    padding-left:  30px;
    padding-right:  30px;
  }
  .section3 .car-box h4 { 
    font-size: 26px; 
  }
  .section3 .car-box h5 { 
    font-size: 18px; 
    margin-bottom: 30px;
  }
  .section3 .car-box {
    height: unset; 
  }
  .section3 .car-box img{
    height: unset; 
    margin-bottom: 10px;
  }
  .section4{
    background-size: auto 100% !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section4 h3 { 
    font-size: 34px; 
  }
  .section4 ul li { 
    font-size: 24px; 
  }
  .section5 .bg {
    padding: 30px 15px;
  }
  .section5 p {  
    font-size: 20px; 
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .section6 h1 { 
    font-size: 54px; 
    margin-bottom: 40px;
  }
  .section6 .box {
    border-radius: 30px; 
    height: 200px;
    padding: 10px 10px;
    margin-bottom: 20px; 
  }
  .section6 .box h5 { 
    font-size: 16px; 
    bottom: 12px;
    left: 0;
    width: 100%;
  }
  .section6 .box img {
    max-height: 135px;
  }
  footer{
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }   
}    
@media only screen and (width: 1024px) { /* PC */
  .bn1 {
    height: 480px;
    background-size:  100% auto !important;
  }
  .section2 .btn {
    margin-top: 20px;
    padding: 15px 50px;
    display: unset !important;
  }
  .section2 .mm {
    height: 364px;
  }
  .section4 { 
    background-size:  100% auto !important;
  }
  .xlx{
    display: none !important;
  }
}   



.js-example-basic-multiple + .select2{
  width: 100% !important;
}
.select2-container--default .select2-selection--single { 
  border-radius: 4px;
  border: 1px solid #D9D9D9 !important;
  background-color: #FFF;
} 
.select2-container--default .select2-selection--single:focus{ 
  border: 1px solid #D9D9D9 !important;
} 
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000; 
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;  
}
.select2-selection__rendered {
  line-height: 38px !important; 
  border-radius: 4px; 
}
.select2-container .select2-selection--single {
  height: 38px !important; 
  border-radius: 4px;
}
.select2-selection__arrow {
  height: 38px !important; 
  border-radius: 4px;
}
.datepicker {
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Kanit', sans-serif;
  width: 335px;
}
.datepicker .table-condensed{
  width: 100%; 
}
.datepicker .day{
  padding: 11px 9px !important;
  border-radius: 100%;
}
.datepicker .day:hover{
  background: var(--main) !important;
  color: #fff !important;
}
.datepicker .active.day{
  background: var(--main) !important;
  color: #fff !important;
}
.datepicker .today.day{
  background: var(--main2) !important;
  color: #fff !important;
}  